$web-background: #FEFEDA;
$font-color: #000000;
$alternate-font-color: #FFFFFF;
$header-background: #15b5e8;
$header-font: #232940;
$buttons: #2E66E5;
$buttons-hover: #232940;
$dropdown-background: #F1F1F1;