@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.header {
  background-color: $header-background;

  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-family: Roboto-Medium;
    color: $header-font;
    margin-right: auto;
    margin-left: auto;
  }

  &__nav {
    width: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-family: Roboto-Medium;
      color: $font-color;
      text-decoration: none;
      cursor: pointer;
    }
  }
}